body {
    font-family: 'Nanum Gothic', sans-serif;
    background: linear-gradient(-45deg, #c6ea8d, #fe90af);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 50% 0%;
    }
}

h1, h2, h3, h4, h5, h6, a, .nav-item {
	font-family: 'Nanum Gothic', sans-serif;
}

.navbar-brand {
    font-family: 'Arima', cursive;
    letter-spacing: .2rem;
}

.nav-item {
    margin: 0;
    margin-left: 2em;
    margin-right: 2em;
}

.nav-item:hover {
    font-style: italic;
    letter-spacing: .2rem;
}


.content-grid {
    max-width: 840px;
    max-height: 150vh;
    margin: 20px auto;
    margin-top: 75px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .25fr 1fr 1fr;
    gap: 20px;
}

.nav-box {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.projects-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.contact-container {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: inline-flex;
    justify-content: space-around;
}

.page-title {
    text-align: center;
    color: #313638;
}

.proj {
    display: inline-flex;
}

.img-container {
    margin: auto 10% 10% auto;
}

.proj-img {
    max-width: 200px;
    max-height: 200px;
    min-width: 80px;
    min-height: 80px;
    border-radius: 10%;
    box-shadow: 0 4px 6px 0 rgba(34, 60, 80, 0.16);
	transition: all ease-in-out .2s;
}

.proj-img:hover {
    filter: brightness(.75);
	box-shadow: 0 8px 12px 0 rgba(34, 60, 80, 0.16);
}

.proj-link-container {
    display: inline-flex;
}

.proj-link {
    text-decoration: none;
    color: #313638;
}

.proj-link:hover {
    text-decoration: none;
    font-style: italic;
    color: #313638;
}

.contact-img {
    max-height: 70px;
    max-width: 70px;
}


@media (max-width: 650px) {
    .content-grid {
        grid: 100%;
    }

    
}