.container {
	font-family: 'Noto Sans', sans-serif;
    margin-bottom: 60px;
}

h1, h2, h3, h4 {
	font-family: 'Roboto Mono', monospace;
}

.content-grid {
    max-width: 840px;
    height: 150px;
    margin: 20px auto;
    margin-top: 75px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.profile {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: center;
}

.bio {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

.break-1 {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}

.video {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    padding: 20px;
    justify-self: center;
}

.break-2 {
    grid-column: 1 / 4;
    grid-row: 5 / 6;
}

.github {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    justify-self: center;
}

.linkedin {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
    justify-self: center;
}

.email {
    grid-column: 3 / 4;
    grid-row: 6 / 7;
    justify-self: center;
}

.break-3 {
    grid-column: 1 / 4;
    grid-row: 7 / 8;
}


.picture {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
}

.bio-title {
    font-size: large;
    font-family: 'Roboto Mono', monospace;;
}

iframe {
    margin: 20px;
}

.contact-img {
    height: 40px;
    width: 40px;
    align-items: baseline;
    vertical-align: middle;
}




@media (max-width: 480px) {
    .content-grid {
        grid: 100%;
    }
    
}