body {
	font-family: 'Noto Sans', sans-serif;
    background: #caebf2;
}

h1, h2, h3, h4, h5 h6 {
	font-family: 'Roboto Mono', monospace;
}

.content-grid {
    max-width: 840px;
    height: 150px;
    margin: 20px auto;
    margin-top: 75px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.title {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    text-align: center;
    color: #357a8a;
}

.intro {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    text-align: center;
}

.about {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    text-align: end;
    margin-top: 2em;
    margin-bottom: 0;
    text-decoration: none;
    color: orange;
}

.break-1 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    transform: rotate(90deg);
    margin: 50px;
    margin-bottom: 70px;
}

.projects {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    text-align: start;
    margin-top: 2em;
    margin-bottom: 0;
    text-decoration: none;
    color: orange;
}

.break-2 {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    text-align: center;
}

.get-in-touch {
    color: #357a8a;
}

.github {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    justify-self: center;
}

.linkedin {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    justify-self: center;
}

.email {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
    justify-self: center;
}



.about:hover {
    font-style: italic;
    letter-spacing: .2rem;
    text-decoration: none;
    color: #357a8a;
}

.projects:hover {
    font-style: italic;
    letter-spacing: .2rem;
    text-decoration: none;
    color: #357a8a;
}

.contact-img {
    max-height: 70px;
    max-width: 70px;
}




@media (max-width: 480px) {
    .content-grid {
        grid: 100%;
    }
    
}