body {
    font-family: 'Nanum Gothic', sans-serif;
    background: linear-gradient(-45deg, #c6ea8d, #fe90af);
    background-size: 400% 400%;
    background-repeat: repeat;
    animation: gradient 15s ease infinite;
    max-height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 50% 0%;
    }
}

h1, h2, h3, h4, h5, h6, a, .nav-item {
	font-family: 'Nanum Gothic', sans-serif;
}

.navbar-brand {
    font-family: 'Arima', cursive;
    letter-spacing: .2rem;
}

.nav-item {
    margin: 0;
    margin-left: 2em;
    margin-right: 2em;
}

.nav-item:hover {
    font-style: italic;
    letter-spacing: .2rem;
}

.content-grid {
    max-width: 980px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .25fr 1fr 1fr;
    gap: 3%;
    margin: auto;
}

.nav-box {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.text-box {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    margin-top: 8%;
}

.text {
    line-height: 2;
}

.title {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-underline-offset: 25%;
    text-decoration-color: #8c75eb;
}

.word1 {
    text-decoration: underline;
    text-decoration-style: double;
    text-underline-offset: 25%;
    text-decoration-color: #4f8e56;
}

.word2 {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 25%;
    text-decoration-color: #b77019;
}

.link-box {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    justify-content: end;
    text-align: right;
}

.action-item-container {
    text-decoration: none;
    color: #313638;
    
}

.action-item-container:hover {
    font-style: italic;
    letter-spacing: .2rem;
    color: #313638;
}




@media (max-width: 480px) {
    .content-grid {
        grid: 100%;
    }
    
}